@model IEnumerable<SayItWebsiteNet5.Foodclub.Ingredient>
@using SayItWebsiteNet5.Foodclub


<h3>Ingredients</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                <p>Navn</p>
            </th>
            <th>
                <p>Mængde/Antal</p>
            </th>
            <th>
                <p>Pris</p>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Ingredient ingredient in Model)
        {
        <td>
                @ingredient.Name
        </td>
        <td>
                @ingredient.Amount
        </td>
        <td>
                @ingredient.Price
        </td>
        }
    </tbody>
</table>
