@model Protocol

@{
    ViewData["Title"] = "DetailsProtocol";
}

<h1>Protokol for </h1>
<h2>
        @Model.Date.ToShortDateString()
</h2>
<div>
    <hr />

    <table class="table">
        <thead>
            <tr>
                <th>
                    <p> Navn</p>
                </th>
                <th>
                    <p> Note</p>
                </th>
                <th>
                    <p> Fremmødt</p>
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var thing in Model.StudentProtocol)
            {
                <tr>
                    <td>
                        @thing.Value.StudentData.Name
                    </td>
                    <td>
                        @if (thing.Value.Note == null)
                        {
                            <p> Ingen Note</p>
                        }
                        else
                        {
                            <p>@thing.Value.Note</p>
                        }

                    </td>
                    <td>
                        @if (thing.Value.Present)
                        {
                            <p> Fremmødt</p>
                        }
                        else
                        {
                            <p> Ikke fremmødt</p>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a style="margin-left:5px" asp-action="Index">Back to List</a> <a asp-action="EditProtocol" asp-route-id="@Model.Id">Ændre </a>
</div>


